<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script> 
<div class="topnav">
    <a href="/addMember">Add another member</a>
    <a href="/Show">Show Graph</a>
    <a href="/ShortPath">About</a>
  </div>
<form method="POST" action="/ShowPath">
    <input id="name1" name="name1" type="text">
    <input id="name2" name="name2" type="text">
    <input type="submit" value="OK">
</form>
<%if(typeof path=='string'){%>
    <p><%=path %></p>
  <% } %> 