<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script> 
<div class="topnav">
    <a href="/addMember">Add another member</a>
    <a href="/Show">Show Graph</a>
    <a href="/ShortPath">About</a>
  </div>
  <%if(typeof path=='string'){%>
    <p><%=path %></p>
  <% } %> 